*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color:black
}
.container{
    width: 100%;
   
    
}
.login-page{
    
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 740px;
    box-shadow: 0px 0px 100px 100px #160430;

}
img{
    width: 55%;
   height: auto;
   object-fit: cover;
   transform: scaleX(-1);
    
}
.login{
    width: 45%;
    display: flex;
    /* justify-content: center; */
    background-color: #160430;

}
.login form{
    width: 75%;
   
    display: flex;
    flex-direction: column;
    margin:30% 20% ;    
}
.login form h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    color: aliceblue;
}
.login form .p1{
    font-size: 12px;
    color: aliceblue;
    margin-bottom: 10px;
}
.login form input{
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #3F1E67;
    margin-bottom: 15px;
}
.login form .sign{
    padding: 10px 10px;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 10px;
    background-image:linear-gradient(to Right, #511A94,#48409A,#52A7CA);
}
.p2{
    margin: 15px 0;
    border: 1px solid #2e0e56;
}
.acc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.p3{
    font-size: 10px;
    color: #bbaad4;
    margin-bottom: 10px;
}
.acc button{
    width: 49%;
   
    align-items: center;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #3F1E67;
    border: none;
    color: whitesmoke;
}

.p4{
    font-size: 10px;
    color: #bbaad4;
    margin: 10px;
}
.p4 span{
    color: #3F1E67;
   
}


@media(max-width: 768px){
    .login-page{
    
        width: 100%;
        margin: 0;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        height: 624px;
        position: relative;
    
    }
    img{
        width: 100%;
        height: 100%;
        transform: scaleX(1);
        
        
    }
    .login{
        width: 100%;
        height: 100%;
        display: flex;
        /* justify-content: center; */
        background-color: #160430;
        position: absolute;
        top: 0;
        background: none;
        
    }
    .login form{
        margin: auto 15% 10% 15%;
    }

}


@media(max-width: 1024px){
    .login-page{
        width: 100%;
        margin: 0;
        box-shadow: 0px 0px 100px 100px #220C51;
    }
}
